body, #page {
	font-family: Patua One;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-wrap: wrap;
	align-content: center;
	margin: 0;
	width: 100%;
}

label, input {
	display: block;
	width: 60%;
	text-align: center;
}

label {
	margin-bottom: .5em;
	font-size: 32px!important;
}

#ghost-home {
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
}

#ghost {
	width: 40px;
	height: 40px;
	border-radius: 40px;
	border-bottom-right-radius: 4px;
	background-color: #fff;
	position: relative;
	animation: float 3s infinite ease-in-out reverse;
}

#ghost:before, #ghost:after {
	content: '';
	position: absolute;
	background: #fff;
	z-index: 0;
}

#ghost:before {
	width:12px;
	height: 24px;
	border-radius: 2px;
	top: 4px;
	left: 4px;
	transform: rotate(60deg);
}

#ghost:after {
	width:12px;
	height: 24px;
	border-radius: 2px;
	top: 4px;
	right: 4px;
	z-index: -1;
	transform: rotate(-60deg);
}

.features {
	background-color: #fff;
	width: 4px;
	height: 12px;
	border-radius: 100%;
	display: block;
	position: absolute;
	top: 8px;
	left: 10px;
}

.features + .eyes {
	left: 18px;
}

#mouth {
	position: absolute;
	top: 26px;
	left: 16px;
	width: 4px;
	height: 4px;
	border-radius: 100%;
}

@keyframes float {
	0% {
		transform: translateY(-4px);
	}
	50% {
		transform: translateY(4px);
	}
	100% {
		transform: translateY(-4px);
	}
}